# getting to know your data

In [1]:
import pandas as pd

###  Use the u.user file and assign it to a dataframe

In [2]:
df = pd.read_csv("u.user", sep="|")

###  See the first 5 entries

In [3]:
df.head(5)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

 ###  What is the number of observations in the dataset?

In [4]:
len(df.index)

943

 ### What is the number of columns in the dataset?

In [5]:
len(df.columns)

5

### Print the name of all the columns.

In [6]:
df.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

### How is the dataset indexed?

In [7]:
df.shape

(943, 5)

### What is datatype of each cloumn?

In [8]:
df.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

###  How many different occupation are in this dataset?

In [9]:
occu=df['occupation'].unique()
len(occu)

21

### What is the most frequent occupation?

In [10]:
df['occupation'].max()

'writer'

### Summarize the DataFrame.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

### Summarize all the columns

In [12]:
df.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### Summarize only the occupation column

In [13]:
df["occupation"].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### What is the age with least occurrence?

In [14]:
s=df["age"].value_counts()
s.index[-1]

7

# Load Json file

## read a raw_nyc_phil.json data

In [15]:
k=pd.read_json("raw_nyc_phil.json")
k

                                                programs
0      {'season': '1842-43', 'orchestra': 'New York P...
1      {'season': '1842-43', 'orchestra': 'New York P...
2      {'season': '1842-43', 'orchestra': 'Musicians ...
3      {'season': '1842-43', 'orchestra': 'New York P...
4      {'season': '1843-44', 'orchestra': 'New York P...
...                                                  ...
13949  {'season': '2016-17', 'orchestra': 'Musicians ...
13950  {'season': '2016-17', 'orchestra': 'New York P...
13951  {'season': '2016-17', 'orchestra': 'New York P...
13952  {'season': '2016-17', 'orchestra': 'New York P...
13953  {'season': '2016-17', 'orchestra': 'New York P...

[13954 rows x 1 columns]

## Normalize a json data so that you get an output with columns

Date 	eventType 	Venue 	Location 	Time 	id 	orchestra 	programID 	season

In [16]:
with open('raw_nyc_phil.json') as d_nyc: 
    data = json.load(d_nyc)

In [17]:
nyc=pd.json_normalize(data['programs'])
nyc.head(5)

,season,orchestra,concerts,programID,works,id
0,1842-43,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",3853,"[{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP....",38e072a7-8fc9-4f9a-8eac-3957905c0002
1,1842-43,New York Philharmonic,"[{'Date': '1843-02-18T05:00:00Z', 'eventType':...",5178,[{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR...,c7b2b95c-5e0b-431c-a340-5b37fc860b34
2,1842-43,Musicians from the New York Philharmonic,"[{'Date': '1843-04-07T05:00:00Z', 'eventType':...",10785,"[{'workTitle': 'EGMONT, OP.84', 'composerName'...",894e1a52-1ae5-4fa7-aec0-b99997555a37
3,1842-43,New York Philharmonic,"[{'Date': '1843-04-22T05:00:00Z', 'eventType':...",5887,"[{'workTitle': 'SYMPHONY NO. 2 IN D MAJOR, OP....",34ec2c2b-3297-4716-9831-b538310462b7
4,1843-44,New York Philharmonic,"[{'Date': '1843-11-18T05:00:00Z', 'eventType':...",305,"[{'workTitle': 'SYMPHONY NO. 7 IN A MAJOR, OP....",610a4acc-94e4-4cd6-bdc1-8ad020edc7e9

In [18]:
concerts=pd.json_normalize(data['programs'],
                          record_path="concerts",
                          meta =['id', 'orchestra', 'programID', 'season'])

In [19]:
concerts.head(5)

,Date,eventType,Venue,Location,Time,id,orchestra,programID,season
0,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
1,1843-02-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,c7b2b95c-5e0b-431c-a340-5b37fc860b34,New York Philharmonic,5178,1842-43
2,1843-04-07T05:00:00Z,Special,Apollo Rooms,"Manhattan, NY",8:00PM,894e1a52-1ae5-4fa7-aec0-b99997555a37,Musicians from the New York Philharmonic,10785,1842-43
3,1843-04-22T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,34ec2c2b-3297-4716-9831-b538310462b7,New York Philharmonic,5887,1842-43
4,1843-11-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",None,610a4acc-94e4-4cd6-bdc1-8ad020edc7e9,New York Philharmonic,305,1843-44

## Normalize a json data to get an output with columns :

soloistName 	soloistRoles 	soloistInstrument 	id

In [20]:
solo=pd.json_normalize(data['programs'],
                          record_path=["works","soloists"],
                          meta="id")
solo

,soloistName,soloistRoles,soloistInstrument,id
0,"Otto, Antoinette",S,Soprano,38e072a7-8fc9-4f9a-8eac-3957905c0002
1,"Scharfenberg, William",A,Piano,38e072a7-8fc9-4f9a-8eac-3957905c0002
2,"Hill, Ureli Corelli",A,Violin,38e072a7-8fc9-4f9a-8eac-3957905c0002
3,"Derwort, G. H.",A,Viola,38e072a7-8fc9-4f9a-8eac-3957905c0002
4,"Boucher, Alfred",A,Cello,38e072a7-8fc9-4f9a-8eac-3957905c0002
...,...,...,...,...
56189,"Xu, Weiqin",S,Baritone,68625626-8085-44e4-bdb3-d8e6ac51c95b
56190,"Martin, Christopher",S,Trumpet,5c22d35f-a282-4505-bd31-df619c74f52b
56191,"Shryock, Grace",S,English Horn,5c22d35f-a282-4505-bd31-df619c74f52b
56192,Jazz at Lincoln Center Orchestra with Wynton M...,S,Jazz Ensemble,5c22d35f-a282-4505-bd31-df619c74f52b
56193,Jazz at Lincoln Center Orchestra with Wynton M...,S,Jazz Ensemble,5c22d35f-a282-4505-bd31-df619c74f52b

## Normalize a json to get an output with columns
soloistName 	soloistRoles 	soloistInstrument 	id 	orchestra 	programID 	season 	 	Date 	eventType 	Venue 	Location 	Time

In [21]:
solo2=pd.json_normalize(data['programs'],
                          record_path=["works","soloists"],
                          meta =['id','orchestra', 'programID', 'season'])
solo2.head(5)

,soloistName,soloistRoles,soloistInstrument,id,orchestra,programID,season
0,"Otto, Antoinette",S,Soprano,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
1,"Scharfenberg, William",A,Piano,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
2,"Hill, Ureli Corelli",A,Violin,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
3,"Derwort, G. H.",A,Viola,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
4,"Boucher, Alfred",A,Cello,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43

In [22]:
concerts2=pd.json_normalize(data['programs'],
                          record_path="concerts",
                          meta ='id')
concerts2.head(5)

,Date,eventType,Venue,Location,Time,id
0,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,38e072a7-8fc9-4f9a-8eac-3957905c0002
1,1843-02-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,c7b2b95c-5e0b-431c-a340-5b37fc860b34
2,1843-04-07T05:00:00Z,Special,Apollo Rooms,"Manhattan, NY",8:00PM,894e1a52-1ae5-4fa7-aec0-b99997555a37
3,1843-04-22T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,34ec2c2b-3297-4716-9831-b538310462b7
4,1843-11-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",None,610a4acc-94e4-4cd6-bdc1-8ad020edc7e9

In [23]:
merged=pd.merge(left=solo2, right=concerts2, on="id")

In [24]:
merged.head()

,soloistName,soloistRoles,soloistInstrument,id,orchestra,programID,season,Date,eventType,Venue,Location,Time
0,"Otto, Antoinette",S,Soprano,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM
1,"Scharfenberg, William",A,Piano,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM
2,"Hill, Ureli Corelli",A,Violin,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM
3,"Derwort, G. H.",A,Viola,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM
4,"Boucher, Alfred",A,Cello,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM