# getting Financial data

In [1]:
# install pandas_datareader to extraxt data from various Internet sources into dataframe

In [3]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt
from pandas.util.testing import assert_frame_equal

# Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [5]:
start=dt.datetime(2015, 1, 1)
end=dt.datetime.today()
print(start)
print()
print(end)

2015-01-01 00:00:00

2020-06-02 20:16:22.557575

In [7]:
type(start)

datetime.datetime

In [8]:
type(end)

datetime.datetime

#  Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [142]:
#eg:apple =["AAPL"]
stocks=["AAPL","TSLA","TWTR","IBM"]

# Read the data from yahoo, assign to df and print it

In [143]:
df=data.DataReader(stocks, "yahoo", start, end)

In [144]:
df.head(5)

Attributes   Adj Close                                          Close  \
Symbols           AAPL        TSLA       TWTR         IBM        AAPL
Date
2015-01-02   99.945885  219.309998  36.560001  127.531136  109.330002
2015-01-05   97.130241  210.089996  36.380001  125.524490  106.250000
2015-01-06   97.139420  211.279999  38.759998  122.817429  106.260002
2015-01-07   98.501518  210.949997  37.279999  122.014748  107.750000
2015-01-08  102.286186  210.619995  39.090000  124.666725  111.889999

Attributes                                           High              ...  \
Symbols           TSLA       TWTR         IBM        AAPL        TSLA  ...
Date                                                                   ...
2015-01-02  219.309998  36.560001  162.059998  111.440002  223.250000  ...
2015-01-05  210.089996  36.380001  159.509995  108.650002  216.500000  ...
2015-01-06  211.279999  38.759998  156.070007  107.430000  214.199997  ...
2015-01-07  210.949997  37.279999  155.050003  108.199997  214.779999  ...
2015-01-08  210.619995  39.090000  158.419998  112.150002  213.800003  ...

Attributes        Low                    Open                         \
Symbols          TWTR         IBM        AAPL        TSLA       TWTR
Date
2015-01-02  35.540001  161.000000  111.389999  222.869995  36.230000
2015-01-05  35.639999  159.190002  108.290001  214.550003  36.259998
2015-01-06  36.040001  155.169998  106.540001  210.059998  36.270000
2015-01-07  37.060001  154.029999  107.199997  213.350006  39.099998
2015-01-08  37.090000  155.550003  109.230003  212.809998  37.419998

Attributes                  Volume
Symbols            IBM        AAPL       TSLA        TWTR        IBM
Date
2015-01-02  161.309998  53204600.0  4764400.0  12062500.0  5525500.0
2015-01-05  161.270004  64285500.0  5368500.0  15062700.0  4880400.0
2015-01-06  159.669998  65797100.0  6261900.0  33050800.0  6146700.0
2015-01-07  157.199997  40105900.0  2968400.0  22675700.0  4701800.0
2015-01-08  156.240005  59364500.0  3442500.0  19190400.0  4236800.0

[5 rows x 24 columns]

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1363 entries, 2015-01-02 to 2020-06-02
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  1363 non-null   float64
 1   (Adj Close, TSLA)  1363 non-null   float64
 2   (Adj Close, TWTR)  1363 non-null   float64
 3   (Adj Close, IBM)   1363 non-null   float64
 4   (Close, AAPL)      1363 non-null   float64
 5   (Close, TSLA)      1363 non-null   float64
 6   (Close, TWTR)      1363 non-null   float64
 7   (Close, IBM)       1363 non-null   float64
 8   (High, AAPL)       1363 non-null   float64
 9   (High, TSLA)       1363 non-null   float64
 10  (High, TWTR)       1363 non-null   float64
 11  (High, IBM)        1363 non-null   float64
 12  (Low, AAPL)        1363 non-null   float64
 13  (Low, TSLA)        1363 non-null   float64
 14  (Low, TWTR)        1363 non-null   float64
 15  (Low, IBM)         1363 non-null   float64
 16  (Open, AAPL)       1363 non-null   float64
 17  (Open, TSLA)       1363 non-null   float64
 18  (Open, TWTR)       1363 non-null   float64
 19  (Open, IBM)        1363 non-null   float64
 20  (Volume, AAPL)     1363 non-null   float64
 21  (Volume, TSLA)     1363 non-null   float64
 22  (Volume, TWTR)     1363 non-null   float64
 23  (Volume, IBM)      1363 non-null   float64
dtypes: float64(24)
memory usage: 266.2 KB

 # What is the type of structure of df ?

In [148]:
type(df)

pandas.core.frame.DataFrame

# Create a dataFrame called vol, with the Volume values.

In [152]:
vol=df["Volume"]

In [153]:
vol.head(5)

Symbols           AAPL       TSLA        TWTR        IBM
Date
2015-01-02  53204600.0  4764400.0  12062500.0  5525500.0
2015-01-05  64285500.0  5368500.0  15062700.0  4880400.0
2015-01-06  65797100.0  6261900.0  33050800.0  6146700.0
2015-01-07  40105900.0  2968400.0  22675700.0  4701800.0
2015-01-08  59364500.0  3442500.0  19190400.0  4236800.0

 # Aggregate the data of Volume to weekly

In [154]:
vol.resample("W").sum()

Symbols            AAPL        TSLA         TWTR         IBM
Date
2015-01-04   53204600.0   4764400.0   12062500.0   5525500.0
2015-01-11  283252500.0  22709600.0  114718000.0  24454000.0
2015-01-18  304226600.0  30799200.0  100097300.0  23259800.0
2015-01-25  198737000.0  16211700.0   66713900.0  31244800.0
2015-02-01  465842700.0  15720200.0   87430900.0  32928000.0
...                 ...         ...          ...         ...
2020-05-10  168229000.0  75009800.0   87998500.0  21198400.0
2020-05-17  208456200.0  75644100.0   75279900.0  24246400.0
2020-05-24  133274700.0  50886000.0   96324100.0  19471100.0
2020-05-31  131406500.0  38707300.0  121722800.0  23042600.0
2020-06-07   35613826.0  26218886.0   25400460.0   4450718.0

[284 rows x 4 columns]

 # Find all the volume traded in the year

In [155]:
vol.resample("Y").sum()

Symbols             AAPL          TSLA          TWTR           IBM
Date
2015-12-31  1.306605e+10  1.088218e+09  5.361489e+09  1.105583e+09
2016-12-31  9.682478e+09  1.162362e+09  6.479294e+09  1.018606e+09
2017-12-31  6.810776e+09  1.590031e+09  4.410744e+09  1.071166e+09
2018-12-31  8.539036e+09  2.161639e+09  7.155865e+09  1.368561e+09
2019-12-31  7.063803e+09  2.308078e+09  3.880756e+09  9.466952e+08
2020-12-31  4.611613e+09  1.981611e+09  2.260745e+09  6.494937e+08

 # Find all the volume traded in the year 2019

In [162]:
vol.loc[vol.index.year == 2019]

Symbols           AAPL        TSLA        TWTR        IBM
Date
2019-01-02  37039700.0  11658600.0  15053700.0  4239900.0
2019-01-03  91312200.0   6965200.0  19051700.0  4346700.0
2019-01-04  58607100.0   7394100.0  23412600.0  4477800.0
2019-01-07  54777800.0   7551200.0  19917800.0  3751200.0
2019-01-08  41025300.0   7008500.0  18915200.0  4763600.0
...                ...         ...         ...        ...
2019-12-24  12119700.0   8054700.0   4290500.0  1202100.0
2019-12-26  23280300.0  10633900.0   9797300.0  2129700.0
2019-12-27  36566500.0   9945700.0  10409400.0  2752200.0
2019-12-30  36028600.0  12586400.0   9391200.0  4118900.0
2019-12-31  25201400.0  10285700.0  11050600.0  3777500.0

[252 rows x 4 columns]

In [158]:
df.loc["2019-01-01":"2019-12-31"]["Volume"]

Symbols           AAPL        TSLA        TWTR        IBM
Date
2019-01-02  37039700.0  11658600.0  15053700.0  4239900.0
2019-01-03  91312200.0   6965200.0  19051700.0  4346700.0
2019-01-04  58607100.0   7394100.0  23412600.0  4477800.0
2019-01-07  54777800.0   7551200.0  19917800.0  3751200.0
2019-01-08  41025300.0   7008500.0  18915200.0  4763600.0
...                ...         ...         ...        ...
2019-12-24  12119700.0   8054700.0   4290500.0  1202100.0
2019-12-26  23280300.0  10633900.0   9797300.0  2129700.0
2019-12-27  36566500.0   9945700.0  10409400.0  2752200.0
2019-12-30  36028600.0  12586400.0   9391200.0  4118900.0
2019-12-31  25201400.0  10285700.0  11050600.0  3777500.0

[252 rows x 4 columns]

# import the apple stock only

In [163]:
df_apple=data.DataReader("AAPL", "yahoo", start, end)

In [164]:
df_apple.head(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,111.440002,107.349998,111.389999,109.330002,53204600.0,99.945885
2015-01-05,108.650002,105.410004,108.290001,106.250000,64285500.0,97.130241
2015-01-06,107.430000,104.629997,106.540001,106.260002,65797100.0,97.139420
2015-01-07,108.199997,106.699997,107.199997,107.750000,40105900.0,98.501518
2015-01-08,112.150002,108.699997,109.230003,111.889999,59364500.0,102.286186

 # Check out the type of the columns

In [165]:
df_apple.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [166]:
type(df_apple.columns)

pandas.core.indexes.base.Index

# set Date as columns

In [167]:
df_apple.reset_index(inplace=True)
df_apple.head(5)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-01-02,111.440002,107.349998,111.389999,109.330002,53204600.0,99.945885
1,2015-01-05,108.650002,105.410004,108.290001,106.250000,64285500.0,97.130241
2,2015-01-06,107.430000,104.629997,106.540001,106.260002,65797100.0,97.139420
3,2015-01-07,108.199997,106.699997,107.199997,107.750000,40105900.0,98.501518
4,2015-01-08,112.150002,108.699997,109.230003,111.889999,59364500.0,102.286186

In [168]:
type(df_apple["Date"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [169]:
df_apple["Date"][0].day_name()

'Friday'

# Transform the Date column as a datetime type

In [170]:
df_apple["Date"]=pd.to_datetime(df_apple["Date"],format="%Y-%m-%d")

In [171]:
type(df_apple["Date"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [172]:
df_apple["Date"][0].day_name()

'Friday'

# Set the date as the index

In [173]:
df_apple.set_index("Date", inplace=True)

In [174]:
df_apple.head(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,111.440002,107.349998,111.389999,109.330002,53204600.0,99.945885
2015-01-05,108.650002,105.410004,108.290001,106.250000,64285500.0,97.130241
2015-01-06,107.430000,104.629997,106.540001,106.260002,65797100.0,97.139420
2015-01-07,108.199997,106.699997,107.199997,107.750000,40105900.0,98.501518
2015-01-08,112.150002,108.699997,109.230003,111.889999,59364500.0,102.286186

 # Is there any duplicate dates?

In [175]:
boool=df_apple.index.duplicated()

In [176]:
len(df_apple.loc[boool])

0

 # Make the first entry the oldest date.

In [177]:
oldest_date=df_apple.index.min()

In [178]:
oldest_date

Timestamp('2015-01-02 00:00:00')

# Get the last business day of each month

In [179]:
last_day=df.index + pd.offsets.BMonthEnd(1)

In [180]:
condition=df_apple.index.isin(last_day)

In [181]:
df_apple.loc[condition]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-30,120.000000,116.849998,118.400002,117.160004,83745500.0,107.103836
2015-02-27,130.570007,128.240005,130.000000,128.460007,62014800.0,117.897400
2015-03-31,126.489998,124.360001,126.089996,124.430000,42090600.0,114.198746
2015-04-30,128.639999,124.580002,128.639999,125.150002,83195400.0,114.859558
2015-05-29,131.449997,129.899994,131.229996,130.279999,50884500.0,120.067184
...,...,...,...,...,...,...
2020-01-31,322.679993,308.290009,320.929993,309.510010,49897100.0,307.943604
2020-02-28,278.410004,256.369995,257.260010,273.359985,106721200.0,272.622009
2020-03-31,262.489990,252.000000,255.600006,254.289993,49250500.0,253.603500
2020-04-30,294.529999,288.350006,289.959991,293.799988,45457600.0,293.006836
2020-05-29,321.149994,316.470001,319.250000,317.940002,38399500.0,317.940002

# What is the difference in days between the first day and the oldest

In [184]:
diff=df_apple.index.max()-df_apple.index.min()

In [185]:
diff

Timedelta('1978 days 00:00:00')

# How many months in the data we have?

In [186]:
s=df_apple.resample("M").mean()

In [187]:
s.head(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-31,112.254000,109.332000,111.164000,110.641501,6.526317e+07,101.144830
2015-02-28,126.144738,124.031053,125.023683,125.432105,5.981764e+07,115.050702
2015-03-31,127.436363,124.985910,126.466364,125.970908,5.175646e+07,115.612962
2015-04-30,128.422380,126.224763,127.535239,127.291428,4.743502e+07,116.824901
2015-05-31,129.771001,127.663000,128.707501,128.761500,4.770760e+07,118.570259

In [188]:
len(s.index)

66