# Assign it to a variable called data and replace the first 3 columns by a proper datetime index. 
 - dataset :wind.data

In [1]:
import pandas as pd
import numpy as np 
from datetime import datetime

In [2]:
df=pd.read_csv("wind.data",sep="\s+")

In [3]:
df.head(5)

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

#   Create a function to fix the year from 2061 to 1961  and apply it.

In [4]:
year_month=df.iloc[:,:3]
year_month

      Yr  Mo  Dy
0     61   1   1
1     61   1   2
2     61   1   3
3     61   1   4
4     61   1   5
...   ..  ..  ..
6569  78  12  27
6570  78  12  28
6571  78  12  29
6572  78  12  30
6573  78  12  31

[6574 rows x 3 columns]

In [5]:
df["Yr"]=1900+df["Yr"]

In [6]:
df['Date']=df['Yr'].astype(str)+'_'+df['Mo'].astype(str)+'_'+df['Dy'].astype(str)

In [7]:
df.head(5)

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961_1_1
1,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961_1_2
2,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961_1_3
3,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961_1_4
4,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961_1_5

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      6574 non-null   int64
 1   Mo      6574 non-null   int64
 2   Dy      6574 non-null   int64
 3   RPT     6568 non-null   float64
 4   VAL     6571 non-null   float64
 5   ROS     6572 non-null   float64
 6   KIL     6569 non-null   float64
 7   SHA     6572 non-null   float64
 8   BIR     6574 non-null   float64
 9   DUB     6571 non-null   float64
 10  CLA     6572 non-null   float64
 11  MUL     6571 non-null   float64
 12  CLO     6573 non-null   float64
 13  BEL     6574 non-null   float64
 14  MAL     6570 non-null   float64
 15  Date    6574 non-null   object
dtypes: float64(12), int64(3), object(1)
memory usage: 821.9+ KB

#  Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [9]:
df['Date']=pd.to_datetime(df['Date'],format="%Y_%m_%d")

In [10]:
df.head(5)

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05

In [11]:
df = df.set_index('Date')

In [12]:
df.index[0].day_name()

'Sunday'

In [13]:
df.index.dtype

dtype('<M8[ns]')

In [14]:
df=df.iloc[:,3:]

In [15]:
df.head(5)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

# Compute how many values are missing for each location over the entire record.¶

In [16]:
df.isna().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

# Compute how many non-missing values there are in total.

In [17]:
df.isna().sum().sum()

31

#  Calculate the mean windspeeds of the windspeeds over all the locations and all the times. ie a single number for enire dataset

In [18]:
df.stack().mean()

10.22788376428218

# Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

In [38]:
day_stats=df.describe()
day_stats.loc[["min","max","mean"]]

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.00000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.88000,28.210000,42.380000,42.540000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.49359,8.707332,13.121007,15.599079

 # Find the average windspeed in January for each location.

In [39]:
data = df.groupby(lambda x: x.month).mean()

In [41]:
data.iloc[0]

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
Name: 1, dtype: float64

# Downsample the record to a yearly frequency for each location.

In [22]:
df_y=df.resample("Y").agg(['min','max','mean','std'])

In [23]:
df_y.head(5)

             RPT                               VAL                    \
             min    max       mean       std   min    max       mean
Date
1961-12-31  2.88  28.75  12.299583  5.303744  1.13  24.21  10.351796
1962-12-31  0.67  35.80  12.246923  6.145351  0.87  31.63  10.110438
1963-12-31  1.29  32.96  12.813452  6.052849  1.08  26.54  10.836986
1964-12-31  1.87  33.34  12.363661  5.314818  1.75  28.50  10.920164
1965-12-31  2.79  32.17  12.451370  5.471860  0.75  33.04  11.075534

                       ROS         ...        CLO             BEL         \
                 std   min    max  ...       mean       std   min    max
Date                               ...
1961-12-31  4.519483  2.13  32.71  ...   9.835577  4.152279  0.71  29.63
1962-12-31  5.114185  1.96  33.84  ...   9.676247  4.730070  0.58  29.79
1963-12-31  5.075355  2.71  32.25  ...  10.224438  4.542016  0.13  32.91
1964-12-31  4.843928  1.83  29.08  ...  10.207951  4.214781  1.50  36.95
1965-12-31  5.437099  1.83  33.25  ...   9.918082  4.348878  2.04  39.04

                                  MAL
                 mean       std   min    max       mean       std
Date
1961-12-31  13.502795  5.679320  2.00  33.45  13.680773  5.782725
1962-12-31  12.930685  6.252894  0.67  37.63  14.323956  6.832426
1963-12-31  13.638877  5.709189  1.75  34.13  14.999014  6.718002
1964-12-31  13.740546  5.757222  3.58  32.88  14.910301  5.958128
1965-12-31  12.964247  5.664148  2.04  41.25  15.591644  6.304622

[5 rows x 48 columns]

# Downsample the record to a monthly frequency for each location.

In [24]:
df_m=df.resample("M").agg(['min','max','mean','std'])

In [25]:
df_m.head(5)

             RPT                               VAL                    \
             min    max       mean       std   min    max       mean
Date
1961-01-31  4.92  25.04  14.841333  4.955164  3.42  23.91  11.988333
1961-02-28  6.04  25.80  16.269286  5.278793  7.08  24.21  14.975357
1961-03-31  4.88  18.25  10.890000  3.799952  2.58  17.00  11.296452
1961-04-30  4.00  21.09  10.722667  4.557746  3.71  15.41   9.427667
1961-05-31  3.54  23.00   9.860968  4.613944  3.58  19.79   8.850000

                       ROS         ...        CLO             BEL         \
                 std   min    max  ...       mean       std   min    max
Date                               ...
1961-01-31  4.807840  7.08  25.84  ...  10.107419  4.662311  5.25  27.71
1961-02-28  4.208606  6.08  22.42  ...  12.714286  3.568190  9.17  29.63
1961-03-31  3.789808  4.79  16.38  ...  11.251935  2.797977  7.21  23.45
1961-04-30  3.407936  2.54  18.29  ...   7.237000  2.822941  5.13  19.21
1961-05-31  4.364497  3.58  21.21  ...   8.499355  3.820098  4.79  28.08

                                  MAL
                 mean       std   min    max       mean       std
Date
1961-01-31  13.880968  6.106738  5.17  27.63  14.703226  5.725810
1961-02-28  18.583214  5.570494  6.67  23.87  15.411786  5.044755
1961-03-31  16.410968  4.601365  5.54  22.95  15.720000  4.309926
1961-04-30  11.147333  3.738132  2.67  20.46  10.278333  4.344710
1961-05-31  11.900323  5.340704  3.33  26.58  12.011613  5.769990

[5 rows x 48 columns]

# Downsample the record to a weekly frequency for each location.

In [26]:
df_w=df.resample("W").agg(['min','max','mean','std'])

In [27]:
df_w.head(5)

              RPT                                VAL                    \
              min    max       mean       std    min    max       mean
Date
1961-01-01  15.04  15.04  15.040000       NaN  14.96  14.96  14.960000
1961-01-08  10.58  18.50  13.541429  2.631321   6.63  16.88  11.486667
1961-01-15   9.04  19.75  12.468571  3.555392   3.54  12.08   8.967143
1961-01-22   4.92  19.83  13.204286  5.337402   3.42  14.37   9.862857
1961-01-29  13.62  25.04  19.880000  4.619061   9.96  23.91  16.141429

                        ROS         ...        CLO              BEL         \
                 std    min    max  ...       mean       std    min    max
Date                                ...
1961-01-01       NaN  13.17  13.17  ...  12.580000       NaN  18.50  18.50
1961-01-08  3.949525   7.62  12.33  ...   8.497143  1.704941   5.46  17.54
1961-01-15  3.148945   7.08  19.50  ...   7.571429  4.084293   5.25  20.71
1961-01-22  3.837785   7.29  20.79  ...   8.124286  4.783952   6.50  15.92
1961-01-29  5.170224  12.67  25.84  ...  15.640000  3.713368  14.04  27.71

                                   MAL
                 mean       std    min    max       mean       std
Date
1961-01-01  18.500000       NaN  15.04  15.04  15.040000       NaN
1961-01-08  12.481429  4.349139  10.88  16.46  13.238571  1.773062
1961-01-15  11.125714  5.552215   5.17  16.92  11.024286  4.692355
1961-01-22   9.821429  3.626584   6.79  17.96  11.434286  4.237239
1961-01-29  20.930000  5.210726  17.50  27.63  22.530000  3.874721

[5 rows x 48 columns]

# Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [28]:
df_w2=df.resample("W").agg(['min','max','mean','std'])

In [29]:
df_data=df_w2.iloc[:52]

In [30]:
df_data.shape

(52, 48)

# What is the year with most occurrences?

In [33]:
s=df.index.year.value_counts()

In [34]:
s.head(4)

1964    366
1968    366
1972    366
1976    366
Name: Date, dtype: int64